<!--{% load static %}-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">-->
<body bgcolor="#ADD8E6" background="/static/images/pug1.png">
	<h1>Вы находитесь на стартовой странице.</h1>
<br>
<h2>Перейдите в следующие разделы:
	<p><a href="http://127.0.0.1:8000/product/">product</a> - список созданных продуктов в формате json</p>
    <p><a href="http://127.0.0.1:8000/auth/">auth</a> - можете зарегистрироваться на сайте через GitHub</p>
	<p><a href="http://127.0.0.1:8000/home/">home</a> - приветственное изображение</p>
	<p><a href="http://127.0.0.1:8000/header/">header</a> - приветственное изображение</p>
</h2>
</body>
